body{
    margin:0;
    padding:0;
}


.navigationLogo{
    height: 40px;
    margin-right: 20px;
    position: absolute;
}

.navigation {
    font-family: ;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
}

ul, li {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-between;
}

.active-menu-link {
    border-bottom: none;
}

.default-menu-link {
    border-bottom: 1px solid black;
}